{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block header %}About{% endblock %}
{% block content %}
<p>As a Civil Engineer, I have always been interested in designing and building structures that are both functional and beautiful. However, I found that there were few tools available that could help me design different types of building foundations quickly and easily. That's why I decided to create this web tool.</p>

<p>My goal with this project was to create a tool that would make it easy for other engineers and architects to design building foundations without having to spend hours doing calculations by hand. I wanted to create something that was both powerful and easy to use.</p>

<p>This project is also partly a Portfolio Project for ALX School. You can find the link to the project repository on my GitHub profile.</p>

<h4>Links</h4>

<ul>
	<li><a href="https://linkedin.com/in/gideon-amha-g">LinkedIn</a></li>
	<li><a href="https://github.com/GideonAmhaG">GitHub</a></li>
	<li><a href="https://twitter.com/GideonAmha">Twitter</a></li>
</ul>

<h4>Project Repository</h4>

<p>You can find the project repository on my GitHub profile:</p>

<ul>
	<li><a href="https://github.com/GideonAmhaG/portfolio_project">portfolio_project</a></li>
</ul>
{% endblock %}
