{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}
{% block content %}
<div class="row">
	<div class="col">
		<h3 class="font-italic"><img src="../static/logo.png" alt="Your Image" width="28" height="28" style="transform: rotate(-45deg);"> geotechapps</h3>
		<br>
		<div class="col px-5 py-0">
			<h1>Making Geotechnical Engineering lives easier</h1>
			<br>
			<div class="row px-3">
				<p>Foundation worries got you down? Say goodbye to stress and build with confidence. Our powerful web-based design
					tool empowers you to craft the ideal foundation for your project, fast and easy. No complex software, just
					intuitive features that let you input all necessary specifications - soil conditions, load requirements,
					and more - our tool guides you through the process. Plus, with the generated design, you can quickly
					conduct a preliminary cost analysis to compare options and make informed decisions. Start building your
					vision today!</p>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<div class="row pl-3 justify-content-start">
						<a class="nav-item nav-link h4 border" href="/found_type">Start Designing</a>
					</div>
				</div>
				<div class="col">
					<div class="row pr-3 justify-content-end">
						<a class="nav-item nav-link h4 border" href="/faq">Read FAQ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="container-fluid">
		  <img src="../static/man_stare.jpg" class="img-fluid img-thumbnail" alt="Your Image" width="500" height="500">
		</div>
	</div>
</div>
<hr class="my-5">
<div class="row">
	<div class="col-1">
	</div>
	<div class="col px-5 border rounded bg-info">
		<br>
		<div class="row justify-content-center">
			<img src="../static/userInt.png" alt="Your Image" width="55" height="55">
		</div>
		<br>
		<div class="row justify-content-center">
			<h4 align="center">Easy User Interface</h4>
		</div>
		<div class="row justify-content-center">
			<p>Don't let complex software hinder your project! Our intuitive interface makes designing a foundation
				as simple as 1-2-3. Focus on your project vision while our platform handles the technical details behind the scenes.
				Input key details like load requirements and soil properties with ease, and explore
				various foundation types based on your specific needs.
			</p>		
		</div>
		<hr class="text-dark bg-dark border-10">
	</div>
	<div class="col-1">
	</div>
	<div class="col px-5 border rounded bg-info">
		<br>
		<div class="row justify-content-center">
			<img src="../static/engD2.png" alt="Your Image" width="50" height="50">
		</div>
		<br>
		<div class="row justify-content-center">
			<h4 align="center">Engineering Drawings</h4>
		</div>
		<div class="row justify-content-center">
			<p>Get ready to build your foundation with confidence! Our web app generates accurate and detailed engineering
				drawings, capturing every intricate detail based on your project's specific inputs. These drawings comply with
				industry standards and provide contractors and construction workers with all the information they need
				to bring your foundation to life.
			</p>
		</div>
		<hr class="text-dark bg-dark border-10">
	</div>
	<div class="col-1">
	</div>
	<div class="col px-5 border rounded bg-info">
		<br>
		<div class="row justify-content-center">
			<img src="../static/report.png" alt="Your Image" width="70" height="70">
		</div>
		<!-- <br> -->
		<div class="row justify-content-center">
			<h4 align="center">Detailed Design Reports</h4>
		</div>
		<div class="row justify-content-center">
			<p>Get more than just a final foundation design - unlock the insights behind it with our detailed Design Report.
				Understand the specific equations used for each element of your design, gaining valuable knowledge about the
				underlying principles. Every variable involved in the calculations is tracked and presented, offering full transparency
				into the design process.
			</p>
		</div>
		<hr class="text-dark bg-dark border-10">
	</div>
	<div class="col-1">
	</div>
</div>
<hr class="my-5">
<div class="row justify-content-start pl-5">
	<div class="d-flex flex-column">
		<div class="row">
			<h4>Demo video link</h4>
		</div>
		<div class="row">
			<ul>
				<li><a href="https://www.youtube.com/watch?v=Fz7UzISw99Q">Watch demo of how to use the website</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
