{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}
{% block content %}
<div class="row">
	<div class="col">
		<h3 class="font-italic"><img src="../static/logo.png" alt="Your Image" width="28" height="28" style="transform: rotate(-45deg);"> geotechapps</h3>
		<br>
		<div class="col px-5 py-0">
			<h1>Making Geotechnical Engineering lives easier</h1>
			<br>
			<div class="row px-3">
				<p>Designing the perfect foundation for your building project can be a daunting task. With our web tool, you can easily create and customize different types of foundations to suit your specific needs. With a user-friendly interface and a wide range of design options, our tool makes it easy to create the perfect foundation for your project in no time.</p>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<div class="row pl-3 justify-content-start">
						<a class="nav-item nav-link h4 border" href="/found_type">Start Designing</a>
					</div>
				</div>
				<div class="col">
					<div class="row pr-3 justify-content-end">
						<a class="nav-item nav-link h4 border" href="/faq">Read FAQ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="container-fluid">
		  <img src="../static/man_stare.jpg" class="img-fluid img-thumbnail" alt="Your Image" width="500" height="500">
		</div>
	</div>
</div>
<hr class="my-5">
<div class="row">
	<div class="col-1">
	</div>
	<div class="col px-5 border rounded bg-info">
		<br>
		<div class="row justify-content-center">
			<img src="../static/pdesign.png" alt="Your Image" width="55" height="55">
		</div>
		<div class="row justify-content-center">
			<h4 align="center">Parametric design</h4>
		</div>
		<div class="row justify-content-center">
			<p>This feature allows users to define the parameters of a foundation design, such as the size, shape, and material of the foundation. This can be used to quickly and easily explore different design options and find the best solution for a particular project.</p>
		</div>
	</div>
	<div class="col-1">
	</div>
	<div class="col px-5 border rounded bg-info">
		<br>
		<div class="row justify-content-center">
			<img src="../static/userInt.png" alt="Your Image" width="35" height="35">
		</div>
		<div class="row justify-content-center">
			<h4 align="center">Easy user interface</h4>
		</div>
		<div class="row justify-content-center">
			<p>This feature makes it easy for users to interact with the software and to create and modify foundation designs. This can be helpful for users who are not familiar with foundation design software.</p>
		</div>
	</div>
	<div class="col-1">
	</div>
	<div class="col px-5 border rounded bg-info">
		<br>
		<div class="row justify-content-center">
			<img src="../static/report.png" alt="Your Image" width="50" height="50">
		</div>
		<div class="row justify-content-center">
			<h4 align="center">Analysis and reporting</h4>
		</div>
		<div class="row justify-content-center">
			<p>This feature allows users to analyze the performance of their foundation design. This can be used to ensure that the design is safe and meets the requirements of the project.</p>
		</div>
	</div>
	<div class="col-1">
	</div>
</div>
<hr class="my-5">
<div class="row justify-content-start pl-5">
	<div class="d-flex flex-column">
		<div class="row">
			<h4>Demo video link</h4>
		</div>
		<div class="row">
			<ul>
				<li><a href="https://www.youtube.com/watch?v=Fz7UzISw99Q">Watch demo of how to use the website</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
